body {
    padding: 20px;
}
table {
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
}
img {
    max-width: 100px;
    max-height: 100px;
}
.action-btns {
    white-space: nowrap;
}