body {
    background-image: url('/storage/assets/logo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.login-box {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Center the login box */
.row.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
