.navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: white !important;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid gray;
}


.navbar .nav-link {
  color: white !important;
}


.navbar.scrolled .nav-link {
  color: black !important;
}

.navbar.scrolled .nav-link a:hover{
  color: white !important;
}

.nav-item {
  background-color: transparent !important;
  padding-right: 30px;
  transition: background-back 0.3s ease-in-out; 
}

.nav-item a:hover {
  color: white !important;
  background-color: gray;
}

.dropdown-menu {
  right: auto; 
  left: auto; 
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 0.3s;
  transform-origin: top;

}

.dropdown-menu-info {
  max-height: 300px; 
  overflow-y: auto;
}


.navbar .dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

h2{
  font-size: 20px;
  font-weight: bold;
}

h2 a:hover{
  background-color: gray !important;
  color: red !important;
}

.col-md-3 a,
.col-md-2 a {
    color: white;

}

.footer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.caption-text p {
  padding: 10px;
  color: white;
}

/* Adjust z-index to bring controls to the front */
.carousel-control-prev, .carousel-control-next {
  z-index: 999;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 1;
}


.bg-full {
  background-color: #edf2f7; 
  color: black; 
}

.container-fluid h2{
  margin-top: 10px;
}

.container .bg-konten-1 {
  margin-top: 20px;
}


.bg-konten-2 {
  background-color: grey; 
  color: white; 
}

.container-fluid.bg-konten-2 {
  margin-top: 20px;
}

.service-item {
  background-color: #d3d8e0; 
  padding: 30px; 
  border-radius: 5px; 
}


.breadcrumbs-container {
  position: relative;
}


.background-image-bc {
  position: absolute;
  top: 0; 
  width: 100%;
  height: 100%; 
  z-index: -1;
}


.text-content-bc {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100%;
  color: white;
  font-size: 50px; 
}


.smm{
  margin-top: 30px;
  text-align: left;
}

#custom-title{
  font-size: 50px;
}

.text-content-bc ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 10;
  font-size: 17px;
  font-weight: 600;
  color: white;
}


.white-link {
  color: white;
}

.container {
  margin-top: 20px;
}
.detail-p {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100%;
}

.detail-p h2{
  font-size: 40px;
}

.detail-p p{
  font-size: 20px 
}

.kegiatan h3{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px; 
    font-size: 20px;
}

.kegiatan btn-primary{
    display: block;
    margin: 0 auto; 
}

.service-item.d-none {
  display: none; 
}

.carousel-caption {
  position: absolute;
  bottom: 0; /* Menempatkan teks di bagian bawah slide */
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Menambahkan latar belakang semi-transparan */
  color: white;
  padding: 10px; /* Menambahkan jarak sekitar teks */
}


.carousel-caption h3 {
  font-size: 24px;
  color: white;
  position: relative; 
  top: 95%; 
}

.carousel-caption p {
  font-size: 40px;
  color: white;
  font-weight: 600;
  top: 20%;
}


.bak h3 {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4em !important;
  line-height: 1.2em; 
  font-weight: 600;
  font-size: 20px;
}
.bak p {
  max-height: 4em !important;
  overflow: hidden; 
  text-overflow: ellipsis;
  line-height: 1.3em;
}

.pengumuman h3 {
  white-space: nowrap; 
  max-height: 10em !important;
  line-height: 3em; 
  font-weight: 600;
  font-size: 20px;
}
.pengumuman p {
  max-height: 10em !important;
  line-height: 2em;
}

pre{
  font-style: normal;
  font-family: "Arial", "Helvetica Neue";
  font-size: 13px;
  font-weight: 400;
}