.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

ol {
    padding: 0;
}

li {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}

.number {
    font-weight: bold;
    margin-right: 10px;
}

.content {
    flex: 1;
}